pkgbase = globalprotect-openconnect-git
	pkgdesc = GlobalProtect VPN backend and CLI (gpservice/gpclient/gpauth), based on OpenConnect, with SSO and smart-card (PKCS#11) authentication.
	pkgver = 2.5.1.r1.g24f9bbb
	pkgrel = 3
	url = https://github.com/techneut92/GlobalProtect-openconnect-dw
	install = gp.install
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = pkg-config
	makedepends = openconnect>=8.20
	makedepends = file
	makedepends = openssl
	makedepends = cargo
	depends = vpnc
	depends = openssl
	depends = libxml2
	depends = shared-mime-info
	depends = desktop-file-utils
	provides = globalprotect-openconnect
	provides = gpclient
	provides = gpservice
	provides = gpauth
	conflicts = globalprotect-openconnect
	options = !strip
	source = globalprotect-openconnect::git+https://github.com/techneut92/GlobalProtect-openconnect-dw.git#branch=main
	sha256sums = SKIP

pkgname = globalprotect-openconnect-git
