[Desktop Entry]
Type=Application
Name=GlobalProtect
GenericName=VPN Client
Comment=Connect to GlobalProtect VPN (smart-card / certificate)
Exec=gpgui
Icon=io.github.techneut92.gpgui
Terminal=false
Categories=Network;Security;
Keywords=VPN;GlobalProtect;OpenConnect;PKCS11;
StartupNotify=true
StartupWMClass=io.github.techneut92.gpgui
